<?xml version="1.0"?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find aapacs_drones)/urdf/drone_base.urdf.xacro" />

  <link name="base_link" />

  <xacro:if value="$(arg use1)">
    <xacro:drone_base prefix="$(arg name1)_" base_link_name="base_link" />
  </xacro:if>

  <xacro:if value="$(arg use2)">
    <xacro:drone_base prefix="$(arg name2)_" base_link_name="base_link" />
  </xacro:if>

  <xacro:if value="$(arg use3)">
    <xacro:drone_base prefix="$(arg name3)_" base_link_name="base_link" />
  </xacro:if>

  <xacro:if value="$(arg use4)">
    <xacro:drone_base prefix="$(arg name4)_" base_link_name="base_link" />
  </xacro:if>

  <xacro:if value="$(arg use5)">
    <xacro:drone_base prefix="$(arg name5)_" base_link_name="base_link" />
  </xacro:if>

  <xacro:if value="$(arg use6)">
    <xacro:drone_base prefix="$(arg name6)_" base_link_name="base_link" />
  </xacro:if>

  
</robot>
